.body{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-content: center;
}
.main{
    padding-top: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: column;
}
.show-btn{
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    background-color: rgb(30, 30, 30);
    color: white;
    border: 0;
    width: 200px;
    height: 50px;
    transition: linear;
}
.show{
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.counter{
    display: grid;
    justify-items: center;
    align-items: center;
}
.bttn-add{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0;
    margin: 0;
    border: 0;
    color: rgb(197, 197, 197);
    background-color: rgb(63, 81, 52);
    margin: 10px;
}
.bttn-min{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0;
    margin: 0;
    border: 0;
    color: rgb(188, 188, 188);
    background-color: rgb(116, 71, 71);
    margin: 10px;
}
.bttn-del{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0;
    margin: 0;
    border: 0;
    color: rgb(197, 197, 197);
    background-color: rgb(128, 11, 11);
    margin: 10px;
}
.default{ 
    border-radius: 0;
}
.clicked{
    border-radius: 20px;
}
#btnn:hover{
    border-radius:20px;
    transition: ease-in-out;
    transition-delay: .5;
}
